* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h2 {
  font-family: "Tangerine", cursive;
}

.announcement-container {
  background: #2b2b2b;
  font-family: "Alice", serif;
  width: 100%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.announcement-container .text-centered {
  padding-top: 5px;
  color: #fff;
}

.announcement-container a {
  color: #f7268a;
  padding-left: 5px;
}

.toggle {
  width: 100%;
  padding-right: 20px;
  padding-top: 25px;
  display: none;
}

.toggle .icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.toggle .icon:hover {
  cursor: pointer;
  opacity: 0.6;
}

nav {
  height: 12vh;
  background: #f3ceea;
  overflow: hidden;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

nav .nav-links li .nav-l {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  padding: 15px;
}

nav .nav-links li .nav-l:hover {
  background: #f6e2f1;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.sub-menu-1 {
  position: absolute;
  margin-top: 20px;
  background-color: #f3ceea;
  z-index: 1;
  text-decoration: none;
  display: none;
}

.sub-menu-1 ul {
  list-style: none;
}

.sub-menu-1 ul li {
  margin: 15px;
}

.sub-menu-1 ul li a {
  color: #000;
  text-decoration: none;
  padding: 10px 25px;
}

.sub-menu-1 ul li a:hover {
  background: #f6e2f1;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.logo-container {
  margin-top: 7px;
  position: absolute;
  z-index: 1;
}

.logo-container .main-logo {
  position: absolute;
  height: 300px;
  top: 0px;
  bottom: 30px;
  padding-left: 20px;
}

.logo-container2 {
  margin-top: 7px;
  position: absolute;
  z-index: 1;
}

.logo-container2 .main-logo2 {
  position: absolute;
  height: 200px;
  top: 0px;
  bottom: 30px;
  padding-left: 20px;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  -webkit-transform: translateX(600px);
          transform: translateX(600px);
  -webkit-transition: all 0.7s ease-in-out 0.3s;
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }
  .slide.current .content {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
}

.slide:first-child {
  background: url("/images/image01.jpg") no-repeat center center/cover;
}

.slide:nth-child(2) {
  background: url("/images/image02.jpg") no-repeat center center/cover;
}

.slide:nth-child(3) {
  background: url("/images/image03.jpg") no-repeat center center/cover;
}

.slide:nth-child(4) {
  background: url("/images/image04.jpg") no-repeat center center/cover;
}

.slide:nth-child(5) {
  background: url("/images/image05.jpg") no-repeat center center/cover;
}

.slide:nth-child(6) {
  background: url("/images/image06.jpg") no-repeat center center/cover;
}

.ad-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.ad-container img {
  height: 325px;
}

.display-section {
  height: 160vh;
  background: #f3ceea;
}

.display-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-one img {
  height: 70vh;
  width: auto;
  margin: 50px 0 30px 30px;
}

.container-two {
  height: 60vh;
  width: 45vw;
  background: #fff;
  position: absolute;
  margin: 90px 0 0 600px;
  overflow: hidden;
}

.container-two h2 {
  padding: 10px 0 0 90px;
  font-size: 60px;
}

.container-two p {
  padding: 0 30px 0 90px;
}

.container-three {
  height: 60vh;
  width: 45vw;
  background: #fff;
  margin-top: 40px;
  margin-left: 40px;
  position: absolute;
  overflow: hidden;
}

.container-three h2 {
  padding: 30px 0 0 90px;
  font-size: 60px;
}

.container-three p {
  padding: 0 30px 0 90px;
}

.container-four img {
  height: 70vh;
  width: auto;
  margin-left: 44vw;
}

.us-container {
  height: 100vh;
  background: #fff5e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.us-img img {
  height: auto;
  width: 30vw;
}

.us-text {
  width: 50vh;
}

.btn2 {
  background: #f7268a;
  padding: 15px 25px;
  border: none;
  color: #fff5e9;
  font-weight: bolder;
  font-size: 16px;
  margin: 15px 92px;
}

.btn2:hover {
  cursor: pointer;
  opacity: 0.8;
  outline: none;
}

.btn2 a {
  color: #fff5e9;
  text-decoration: none;
}

.bottom-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-header h2 {
  font-size: 70px;
  font-family: "Tangerine", cursive;
}

.buttomImg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainbuttom-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.overlay {
  position: absolute;
  opacity: 0;
  height: 50vh;
  width: 31vw;
  overflow: hidden;
}

.overlay:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: #ffecf4;
}

.overlay .text {
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.overlay .text h2 {
  font-size: 50px;
  font-family: "Tangerine", cursive;
}

.b-blue {
  background: #cdf4f6 !important;
}

.b-purple {
  background: #e0deff !important;
}

.mainbuttom-container img {
  height: 50vh;
  width: 31vw;
}

.mainbuttom-container img:hover {
  cursor: pointer;
}

.space {
  height: 5vh;
}

.space2 {
  height: 3vh;
}

#footer {
  height: 60vh;
  background: #2b2b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

#footer2 {
  margin-top: 15vh;
  height: 40vh;
  background: #2b2b2b;
}

.mainFooter-header {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainFooter-header h2 {
  color: #fff5e9;
  font-size: 50px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.footer-container ul {
  list-style: none;
}

.footer-container li {
  margin: 10px;
}

.footer-container a {
  color: #fff5e9;
  text-decoration: none;
}

.footer-container a:hover {
  opacity: 0.6;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.footer-container i {
  color: #f3ceea;
  font-size: 50px;
}

.footer-linkContainer2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-linkContainer2 li {
  padding: 5px;
}

.footer-linkContainer2 i {
  padding: 5px;
  text-align: center;
  display: inline;
}

.subfooter {
  opacity: 0.8;
}

.subfooter p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  padding-right: 4px;
}

.subfooter .second-p {
  color: #fff5e9;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  opacity: 0.5;
  padding-right: 4px;
}

.aboutImg-container {
  background: url(/images/image28.jpg) no-repeat center center/cover;
  height: 50vh;
}

.a-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  background: #fff5e9;
}

.a-container img {
  height: 80vh;
}

.intro-absolute {
  background: #fff5e9;
  height: 40vh;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}

.intro-absolute h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
}

.main-absolute {
  background: #f3ceea;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.main-absolute img {
  width: 50vw;
  height: auto;
  margin: 20px;
}

.absolute-text,
.absolute-text2 {
  background: #fbfbfb;
  opacity: 0.7;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.absolute-text h2,
.absolute-text2 h2 {
  padding-top: 20px;
  font-size: 65px;
  text-align: center;
  line-height-step: 1.2;
}

.absolute-text p,
.absolute-text2 p {
  text-align: center;
}

.events-absoluteContainer {
  background: #ffecd5;
}

.events-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.events-header h2 {
  font-size: 80px;
}

.events-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.events-mainImg {
  height: 100vh;
  width: 80vw;
  background: url("/images/events01.jpg") center center/cover;
}

.events-wrapper {
  background: #f3ceea;
  height: 80vh;
}

.events-container2 {
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.events-container2 .events-text1 {
  padding-left: 20px;
  padding-right: 20px;
  height: 75.5vh;
  background: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 2;
  overflow: scroll;
}

.events-container2 .events-text1 h2 {
  font-size: 40px;
}

.events-container2 img {
  width: 50vw;
  height: auto;
}

.second-p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mainProducts-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.mainProducts-container img {
  width: 300px;
  height: auto;
}

.mainProducts-container .productText-container {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 300px;
  height: auto;
}

.mainProducts-container .productText-container h2 {
  font-size: 30px;
}

.paquetesMain-img {
  background: #f3ceea;
}

.paquetesMain-img img {
  width: 100vw;
}

.contactImg-container {
  height: 80vh;
  width: auto;
  background: url(/images/image32.jpg) center center/cover;
}

.contactTitle-container {
  margin: 20px;
}

.contactTitle-container h2 {
  text-align: center;
  font-size: 80px;
}

.contactTitle-container a {
  text-decoration: none;
}

@media (max-width: 800px) {
  .toggle {
    display: block;
    padding: 20px 20px 0px 0px;
  }
  nav {
    width: 100vw;
    height: 12vh;
  }
  nav .nav-links {
    padding: 0px !important;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw !important;
    margin-top: 71px;
  }
  nav .nav-links li .nav-l {
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
  }
  nav .nav-links li .nav-l:hover {
    width: 100vw !important;
  }
  nav .bottom-header {
    margin: 10px;
    padding: 0;
  }
  nav .bottom-header h2 {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .buttons button#next {
    top: 110%;
  }
  .buttons button#prev {
    top: 110%;
  }
  .logo-container {
    margin-top: 25px;
    position: absolute;
    z-index: 1;
  }
  .logo-container .main-logo {
    position: absolute;
    height: 100px;
    top: 0px;
    bottom: 30px;
    padding-left: 20px;
  }
  .logo-container2 {
    margin-top: 25px;
    position: absolute;
    z-index: 1;
  }
  .logo-container2 .main-logo2 {
    position: absolute;
    height: 100px;
    top: 0px;
    bottom: 30px;
    padding-left: 20px;
  }
  .absolute {
    height: 60vh !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .display-section {
    height: 290vh;
  }
  .display-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
  }
  .display-container .container-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-two {
    width: 100vw;
    margin: 0;
    position: relative;
  }
  .container-three {
    border-top: 1px solid #d3d3d3;
    width: 100vw;
    margin: 0;
    position: relative;
  }
  .container-four {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 40px 0 0 0;
    padding: 0;
  }
  .container-four img {
    margin: 0;
    padding: 0;
  }
  .us-container {
    height: 142vh;
  }
  .ad-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .ad-container img {
    height: 325px;
  }
  .buttomImg-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .mainbuttom-container img {
    height: 40vh;
    width: 83vw;
  }
  .overlay {
    height: 40vh;
    width: 83vw;
  }
  #footer {
    height: 65vh;
  }
  .mainFooter-header {
    padding-top: 30px;
    text-align: center;
  }
  .mainFooter-header h2 {
    color: #fff5e9;
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
  }
  .mainFooter-header p {
    margin-bottom: 5px;
  }
  .main-absolute {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-absolute img {
    width: 100vw;
    padding-right: 38px;
  }
  .absolute-text,
  .absolute-text2 {
    display: inline-block;
    width: 100vw;
    position: relative;
  }
  .absolute-text p,
  .absolute-text2 p {
    padding-right: 20px;
    margin-bottom: 20px;
  }
  .intro-absolute {
    padding: 5px;
    height: 60vh;
  }
  .intro-absolute h2 {
    padding: 5px;
  }
  .events-header {
    text-align: center;
  }
  .events-header h2 {
    font-size: 50px;
  }
  .events-container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .events-container2 .events-text1 {
    overflow: scroll;
    text-align: center;
    height: 53vh;
  }
  .events-container2 img {
    width: 100vw;
    height: auto;
  }
  .events-wrapper {
    height: 102vh;
  }
  .mainProducts-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .no-display {
    display: none;
  }
  .pink {
    height: 10vh;
    background: #f3ceea;
  }
}

@media (max-width: 500px) {
  .ad-container {
    display: none;
  }
  .ad-container h2 {
    font-size: 10px;
  }
  .container-two,
  .container-three {
    height: 50vh;
  }
  .container-two h2,
  .container-three h2 {
    font-size: 50px;
    line-height: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .container-two p,
  .container-three p {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .bottom-header h2 {
    font-size: 50px;
  }
  .mainFooter-header h2 {
    font-size: 35px;
  }
  .intro-absolute {
    height: 38vh;
  }
  .intro-absolute h2 {
    font-size: 30px;
  }
  .absolute-text,
  .absolute-text2 {
    padding: 0;
    margin: 0;
  }
  .events-container2 h2 {
    font-size: 20px;
  }
  .events-absoluteContainer {
    display: none;
  }
  .events-container {
    display: none;
  }
  .events-text1 {
    padding-left: 0;
    padding-right: 0;
    height: 40vh !important;
    background: #fbfbfb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    line-height: 2;
    overflow: scroll;
  }
  .events-text1 h2 {
    font-size: 30px !important;
  }
  .events-wrapper {
    background: #f3ceea;
    height: 70vh;
  }
  .mainProducts-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainProducts-container img {
    width: 300px;
    height: auto;
  }
  .mainProducts-container .productText-container {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 300px;
    height: auto;
  }
  .mainProducts-container .productText-container h2 {
    font-size: 30px;
  }
  .events-wrapper {
    height: 100vh;
  }
  .events-wrapper .events-text1 {
    height: 90vh;
  }
}
/*# sourceMappingURL=style.css.map */